@model Rent_Management_System.Models.PaymentsModels.PaymentListModel

@{
    ViewData["Title"] = "Payments";
}
<div class="mb-3">
    <h3>All Payments</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">Amount in €</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model.Payments)
        {
            <tr>
                <td><a style="color: blue" asp-controller="Payments" asp-action="Tenant" asp-route-id="@payment.TenantId">@payment.TenantName</a></td>
                <td>@payment.Amount</td>
                <td>@payment.Date</td>
            </tr>
        }
    </tbody>
</table>
