@model Rent_Management_System.Models.PaymentsModels.PaymentsFromTenantListModel

@{
    ViewData["Title"] = "Payments";
}

<div class="mb-3">
    <h3>All payments from <a asp-controller="Tenants" asp-action="Index" asp-route-id="@Model.TenantId" class="tenant-name">@Model.TenantName</a></h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Amount in €</th>
            <th scope="col">Payment Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model.Payments)
        {
            <tr>
                <td>@payment.Amount</td>
                <td>@payment.Date</td>
            </tr>
        }
    </tbody>
</table>
