@model IEnumerable<Data.Models.Payment>

@{
    ViewData["Title"] = "Payments";
}

<div class="mb-3">
    <h3>@Model.FirstOrDefault().Tenant.FullName</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Amount in €</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td>@payment.Amount</td>
                <td>@payment.Date.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>
