<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rent Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Rent Management System</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a href="#propertySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Property</a>
                    <ul class="collapse list-unstyled" id="propertySubmenu">
                        <li>
                            <a href="#">Add New Property</a>
                        </li>
                        <li>
                            <a href="#">View Property</a>
                        </li>
                        <li>
                            <a href="#">View Available Property</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#tenantSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tenants</a>
                    <ul class="collapse list-unstyled" id="tenantSubmenu">
                        <li>
                            <a href="#">Add New Tenant</a>
                        </li>
                        <li>
                            <a href="#">View Tenants</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Payments" asp-action="Index">Payments</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </button>     
                </div>
            </nav>
            <hr />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Rent Management System - <a href="https://github.com/hshirov/Rent-Management-System">Source code</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
