@model Rent_Management_System.Models.TenantModels.TenantIndexModel

@{
    ViewData["Title"] = Model.Tenant.FirstName + " " + Model.Tenant.LastName;
}

<h2>@Model.Tenant.FullName</h2>
<a asp-controller="Payments" asp-action="Tenant" asp-route-id="@Model.Tenant.Id" class="btn btn-secondary btn-sm">View Payments</a>
@{ if (Model.MoneyOwed > 0)
    {
        <h4>Money Owed: €@Model.MoneyOwed</h4>
        <form method="post">
            <button asp-action="PayRent" asp-route-id="@Model.Tenant.Id" class="btn btn-info">Mark as paid</button>
        </form>
    }
    else
    {
        <h4>Tenant is all payed up</h4>
    }
}

<a asp-action="Remove" asp-route-id="@Model.Tenant.Id" class="btn btn-danger btn-sm">Kick Out</a>
