@model Rent_Management_System.Models.PropertyModels.PropertyListModel

@{
    ViewData["Title"] = "Property";
}

<div class="mb-3">
    <a style="color: blue" asp-controller="Property" asp-action="Add">Add Property</a>
</div>
<div>
    <div class="row">
        @foreach (var property in Model.Properties)
        {           
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <a style="color: blue" asp-controller="Property" asp-action="Index" asp-route-id="@property.Id">
                    <div class="menu-item property-list-item">
                        <div class="row">
                            <div class="item-title col">
                                @property.Address <br />
                                <p class="secondary-text">@property.NumberOfTenants Tenants</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>