@model IEnumerable<Data.Models.Property>

@{
    ViewData["Title"] = "Property";
}

<div class="mb-3">
    <a asp-controller="Property" asp-action="Add">Add Property</a>
</div>

<ul>
    @foreach (var property in Model)
    {
        <li>@property.Address</li>
    }
</ul>